@use "./base.scss";
@use "./variables.scss" as *;

// Callouts design
.text-highlight {
    background-color: #ddcee5;
}

:root[saved-theme="dark"] .text-highlight {
    background-color: #7d4e95;
}

.callout {
    border: 3px solid #885a9f;
    background-color:initial;
    border-radius: 1rem;
}

.callout-title {
    --color: #885a9f;
}

:root[saved-theme="dark"] .callout {
    border: 3px solid #a672c0;
}

:root[saved-theme="dark"] .callout-title {
    --color: #a672c0;
}

.callout.note {
    & table {
        margin: 0;
        margin-bottom: 0.5rem;

        & thead {
            display: none;
        }

        & td {
            padding: 0;
        }
    }
}


table {
    border: 2px solid var(--gray);

    & thead > tr {
        border-bottom: 2px solid var(--lightgray);

        & th {
            border: 1px solid var(--lightgray);
        }
    }

    & td {
        border: 1px solid var(--lightgray);
    }
}


ul.overflow, ol.overflow {
    max-height: initial;
}

ul.overflow::after, ol.overflow::after {
    position:initial;
}

#toc-content {
    & ul {
      & > li > a {
        opacity: 0.75;
      }
    }
}

.page-title {
    margin-top: 0.5rem;
}


// Align dark mode and search
.darkmode.desktop-only {
    margin:unset;
    margin-top:0.25rem;
}


// Bigger popover
.popover {

    & > .popover-inner {
      width: 45rem;
      max-height: 35rem;
    }
}


// Hide buttons
button#explorer {
    display: none;
}

button#toc {
    display: none;
}

.page .page-header {
    margin-top: 0;
    width: initial;
}

.breadcrumb-container {
    margin-top: 1.25rem;
}

hr {
    margin: 1rem auto;
}

footer {
    margin-bottom: 1rem;

    & p {
        font-size: 1rem;
    }

    @media all and (max-width: $fullPageWidth) {
        margin-bottom: 1rem;
    }
}


.page {
    & > #quartz-body {

        & .center {
            & p {
                font-size: 1.15rem;
                white-space: break-spaces;
                hyphens: none;
            }
            
            & li {
                font-size: 1.15rem;
            }
            
            & h1 {
                font-size: 2rem;
                margin-top: 0.65rem;
            }

            & h2 {
                font-size: 1.7rem;
            }

            & h3 {
                font-size: 1.5rem;
            }

            & h4 {
                font-size: 1.3rem;
            }
        }

        & .sidebar {
            gap: 1rem;
            margin-top: 1.25rem;

            @media all and (min-width: $fullPageWidth) {
                gap: 0rem;
                width: 370px;
                padding: 0 3rem;
            }

            @media all and (max-width: $fullPageWidth) {
                margin-top: 1rem;
            }
        }

        & .sidebar.left {
            margin-top: 0;
            height: 100%;
            overflow-y: scroll;

            @media all and (min-width: $maxFullPageWidth) {
                left: calc(50vw - 900px);
            }
            @media all and (max-width: $maxFullPageWidth) {
                left: calc(50vw - 790px);
            }

        }
        & .sidebar.right {
            flex-direction: row;
            gap: 1rem;

            @media all and (min-width: $maxFullPageWidth) {
                right: calc(50vw - 900px);
            }
            @media all and (max-width: $fullPageWidth) {
                margin-top: 0;
                flex-direction: column;
            }
            @media all and (max-width: $maxFullPageWidth) {
                right: calc(50vw - 790px);
            }

            & > * {
                @media all and (max-width: $fullPageWidth) {
                    flex: 1;
                    min-width: 100%;
                }
            }
        }

    }
}

.page .center, .page footer {
    @media all and (min-width: $maxFullPageWidth) {
        width: 950px;
    }
    @media all and (max-width: $maxFullPageWidth) {
        width: 800px;
    }
    @media all and (max-width: $mobileBreakpoint) {
        width: initial;
    }
}

.usage {
    display:flex;
    flex-direction: row;
    align-items: center;

    & p {
        margin:0;
    }

    & .box {
        border: 1px solid var(--darkgray);
        border-radius: 0.5rem;
        padding: 0.2rem 0.3rem 0.2rem 0.3rem;
        display: inline-block;
        width: fit-content;
        margin: 0.2rem;
    }

    & .left {
        padding-right: 1.7rem;
    
        background-image: linear-gradient(var(--darkgray), var(--darkgray)), linear-gradient(var(--darkgray), var(--darkgray));
        background-repeat: no-repeat;
        background-size: 8px 2px;
        background-position: top right, bottom right;
    
        border-right: solid var(--darkgray);
        border-width: 0 2px;
    }

    & .right {
        padding-left: 1rem;
    }

    & .r {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    & .ileft {
        padding-left: 1.7rem;
    
        background-image: linear-gradient(black, black), linear-gradient(black, black);
        background-repeat: no-repeat;
        background-size: 8px 2px;
        background-position: top left, bottom left;
    
        border-left: solid black;
        border-width: 0 2px;
    }
    
    & .iright {
        padding-right: 1rem;
    }
}